<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-between center"
>
  <span>Weather App</span>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="space-between center"
    fxLayoutGap="16px"
  >
    <form
      class="search-loc-form"
      [formGroup]="locationForm"
      (ngSubmit)="onSelectLocation(locationForm.value)"
    >
      <mat-form-field>
        <mat-label>City name</mat-label>
        <input
          type="text"
          name="city"
          aria-label="Find city"
          matInput
          formControlName="location"
        />
      </mat-form-field>
    </form>
    <span>or</span>
    <button mat-raised-button (click)="getUserLocation()">
      Use my location
    </button>
  </div>
</mat-toolbar>
<div class="weather-container" fxLayout="column">
  <div *ngIf="weatherData; else chooseLocation">
    <h1 class="title">
      {{ weatherData.city.name }}, {{ weatherData.city.country }}
    </h1>
    <div
      class="subtitle"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="16px"
    >
      <span>{{ weatherDataNow.dt * 1000 | date: "EEEE, dd/MM/yyyy" }}</span>
      <app-icon-text
        type="sunrise"
        [data]="weatherData.city.sunrise"
      ></app-icon-text>
      <app-icon-text
        type="sunset"
        [data]="weatherData.city.sunset"
      ></app-icon-text>
    </div>
    <div
      class="data-content"
      fxLayout="row"
      fxLayout.lt-sm="column"
      fxLayoutGap="48px"
      fxLayoutGap.lt-sm="24px"
    >
      <div fxLayout="column">
        <span class="temperature">
          {{ countToCelsius(weatherDataNow.main.temp) }}&deg;C
        </span>
        <span class="subtitle font-m"
          >Feels like:
          {{ countToCelsius(weatherDataNow.main.feels_like) }}&deg;C</span
        >
      </div>
      <mat-divider fxHide.lt-sm [vertical]="true"></mat-divider>
      <mat-divider fxHide fxShow.lt-sm></mat-divider>
      <div class="more-data" fxLayout="row wrap" fxLayoutGap="16px grid">
        <app-more-data
          fxFlex="50"
          flexStyle="column"
          bigText="{{ weatherDataNow.main.humidity }}%"
          smallText="Humidity"
        ></app-more-data>
        <app-more-data
          fxFlex="50"
          flexStyle="column"
          bigText="{{ weatherDataNow.main.pressure }}hPa"
          smallText="Pressure"
        ></app-more-data>
        <app-more-data
          fxFlex="50"
          flexStyle="column"
          bigText="{{ weatherDataNow.clouds.all }}%"
          smallText="Cloudiness"
        ></app-more-data>
        <app-more-data
          fxFlex="50"
          flexStyle="column"
          bigText="{{ weatherDataNow.wind.speed }}km/h"
          smallText="Wind speed"
        ></app-more-data>
      </div>
    </div>
    <div
      *ngIf="weatherDataForecast"
      class="forecast-content"
      fxLayout="row wrap"
      fxLayoutGap="16px grid"
    >
      <ng-container *ngFor="let day of weatherDataForecast">
        <div fxFlex="25" fxFlex.lt-md="50" fxFlex.lt-sm="100">
          <app-forecast-box [dayForecast]="day"></app-forecast-box>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-template #chooseLocation>
    <h1 *ngIf="!ifWrongCity" class="title center">
      Choose location to see the weather forecast
    </h1>
    <h1 *ngIf="ifWrongCity" class="title center">
      City {{ userCity }} not found, try again.
    </h1>
  </ng-template>
</div>
